/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light {
  --color-neutral-text: #2020aa;
  --color-neutral-text-weak: #6b6baa;
  --color-neutral-text-disabled: #8c8caa;
  --color-neutral-text-inverted: #ffffaa;
  --color-neutral-background: #ffffaa;
  --color-neutral-background-medium: #f7f7aa;
  --color-neutral-background-strong: #e8e8aa;
  --color-neutral-background-disabled: #f7f7aa;
  --color-neutral-border: #6b6baa;
  --color-neutral-border-weak: #e8e8aa;
  --color-neutral-border-hover: #2020aa;
  --color-neutral-border-disabled: #a6a6aa;
  --color-neutral-border-weak-hover: #6c6caa;
  --color-primary-text-hover: #0236aa;
  --color-primary-text-active: #0227aa;
  --color-primary-text: #045daa;
  --color-primary-text-weak: #c8c8aa;
  --color-primary-text-weak-hover: #cde3aa;
  --color-primary-text-weak-active: #9bc7aa;
  --color-primary-text-strong: #0236aa;
  --color-primary-text-strong-hover: #0127aa;
  --color-primary-text-strong-active: #0118aa;
  --color-primary-background: #cde3aa;
  --color-primary-background-hover: #9bc7aa;
  --color-primary-background-active: #69acaa;
  --color-primary-background-weak: #ffffaa;
  --color-primary-background-weak-hover: #cde3aa;
  --color-primary-background-weak-active: #9bc7aa;
  --color-primary-background-strong: #045daa;
  --color-primary-background-strong-hover: #0346aa;
  --color-primary-background-strong-active: #022eaa;
  --color-primary-border-hover: #0346aa;
  --color-primary-border-active: #022eaa;
  --color-danger-text: #c346aa;
  --color-danger-text-hover: #b53baa;
  --color-danger-text-active: #a234aa;
  --color-danger-text-weak: #ffffaa;
  --color-danger-text-weak-hover: #ffe1aa;
  --color-danger-text-weak-active: #ffc4aa;
  --color-danger-text-strong: #a833aa;
  --color-danger-text-strong-hover: #952daa;
  --color-danger-text-strong-active: #8127aa;
  --color-danger-background: #ffe1aa;
  --color-danger-background-hover: #ffc4aa;
  --color-danger-background-active: #ffa7aa;
  --color-danger-background-weak: #ffffaa;
  --color-danger-background-weak-hover: #ffe1aa;
  --color-danger-background-weak-active: #ffc4aa;
  --color-danger-background-strong: #c346aa;
  --color-danger-background-strong-hover: #b53baa;
  --color-danger-background-strong-active: #a234aa;
  --color-danger-border: #c346aa;
  --color-danger-border-hover: #b53baa;
  --color-danger-border-active: #a234aa;
  --color-success-text: #39812c;
  --color-success-text-hover: #316e26;
  --color-success-text-active: #285b1f;
  --color-success-text-weak: #ffffff;
  --color-success-text-weak-hover: #ddf2d9;
  --color-success-text-weak-active: #ccebc6;
  --color-success-text-strong: #316e26;
  --color-success-text-strong-hover: #295b1f;
  --color-success-text-strong-active: #204819;
  --color-success-background: #ddf2d9;
  --color-success-background-hover: #ccebc6;
  --color-success-background-active: #bbe5b3;
  --color-success-background-weak: #ffffff;
  --color-success-background-weak-hover: #ddf2d9;
  --color-success-background-weak-active: #ccebc6;
  --color-success-background-strong: #39812c;
  --color-success-background-strong-hover: #316e26;
  --color-success-background-strong-active: #285b1f;
  --color-success-border: #39812c;
  --color-success-border-hover: #316e26;
  --color-success-border-active: #285b1f;
  --color-warning-text: #af4a0e;
  --color-warning-text-hover: #80360a;
  --color-warning-text-active: #682c08;
  --color-warning-text-weak: #ffffff;
  --color-warning-text-weak-hover: #fce6d9;
  --color-warning-text-weak-active: #f8c7aa;
  --color-warning-text-strong: #80360a;
  --color-warning-text-strong-hover: #682c08;
  --color-warning-text-strong-active: #502206;
  --color-warning-background: #fce6d9;
  --color-warning-background-hover: #f8c7aa;
  --color-warning-background-active: #f4a87b;
  --color-warning-background-weak: #ffffff;
  --color-warning-background-weak-hover: #fce6d9;
  --color-warning-background-weak-active: #f8c7aa;
  --color-warning-background-strong: #af4a0e;
  --color-warning-background-strong-hover: #97400c;
  --color-warning-background-strong-active: #502206;
  --color-warning-border: #af4a0e;
  --color-warning-border-hover: #97400c;
  --color-warning-border-active: #502206;
  --color-assistive-text: #ffffff;
  --color-assistive-background: #050d15;
  --color-assistive-border: #797979;
  --color-assistive-border-focus: #6664d1;
  --color-branding-coral: #ff6d70;
  --color-branding-stitch: #ffcc00;
  --color-charts-neutral: #363636;
  --color-charts-positive: #39812c;
  --color-charts-negative: #c34648;
}