/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --color-neutral-text: #202022;
  --color-neutral-text-weak: #6b6b6b;
  --color-neutral-text-disabled: #8c8c8c;
  --color-neutral-text-inverted: #ffffff;
  --color-neutral-background: #ffffff;
  --color-neutral-background-medium: #f7f7f7;
  --color-neutral-background-strong: #e8e8e8;
  --color-neutral-background-disabled: #f7f7f7;
  --color-neutral-border: #6b6b6b;
  --color-neutral-border-weak: #e8e8e8;
  --color-neutral-border-hover: #202020;
  --color-neutral-border-disabled: #a6a6a6;
  --color-neutral-border-weak-hover: #6b6b6b;
  --color-primary-text-hover: #023659;
  --color-primary-text-active: #022741;
  --color-primary-text: #045d90;
  --color-primary-text-weak: #c8c8c8;
  --color-primary-text-weak-hover: #cde3f2;
  --color-primary-text-weak-active: #9bc7e6;
  --color-primary-text-strong: #023659;
  --color-primary-text-strong-hover: #012741;
  --color-primary-text-strong-active: #011828;
  --color-primary-background: #cde3f2;
  --color-primary-background-hover: #9bc7e6;
  --color-primary-background-active: #69acd9;
  --color-primary-background-weak: #ffffff;
  --color-primary-background-weak-hover: #cde3f2;
  --color-primary-background-weak-active: #9bc7e6;
  --color-primary-background-strong: #045d9a;
  --color-primary-background-strong-hover: #034673;
  --color-primary-background-strong-active: #022e4d;
  --color-primary-border-hover: #034673;
  --color-primary-border-active: #022e4d;
  --color-danger-text: #c34648;
  --color-danger-text-hover: #b53b3d;
  --color-danger-text-active: #a23436;
  --color-danger-text-weak: #ffffff;
  --color-danger-text-weak-hover: #ffe1e2;
  --color-danger-text-weak-active: #ffc4c5;
  --color-danger-text-strong: #a83335;
  --color-danger-text-strong-hover: #952d2f;
  --color-danger-text-strong-active: #812729;
  --color-danger-background: #ffe1e2;
  --color-danger-background-hover: #ffc4c5;
  --color-danger-background-active: #ffa7a9;
  --color-danger-background-weak: #ffffff;
  --color-danger-background-weak-hover: #ffe1e2;
  --color-danger-background-weak-active: #ffc4c5;
  --color-danger-background-strong: #c34648;
  --color-danger-background-strong-hover: #b53b3d;
  --color-danger-background-strong-active: #a23436;
  --color-danger-border: #c34648;
  --color-danger-border-hover: #b53b3d;
  --color-danger-border-active: #a23436;
  --color-success-text: #39812c;
  --color-success-text-hover: #316e26;
  --color-success-text-active: #285b1f;
  --color-success-text-weak: #ffffff;
  --color-success-text-weak-hover: #ddf2d9;
  --color-success-text-weak-active: #ccebc6;
  --color-success-text-strong: #316e26;
  --color-success-text-strong-hover: #295b1f;
  --color-success-text-strong-active: #204819;
  --color-success-background: #ddf2d9;
  --color-success-background-hover: #ccebc6;
  --color-success-background-active: #bbe5b3;
  --color-success-background-weak: #ffffff;
  --color-success-background-weak-hover: #ddf2d9;
  --color-success-background-weak-active: #ccebc6;
  --color-success-background-strong: #39812c;
  --color-success-background-strong-hover: #316e26;
  --color-success-background-strong-active: #285b1f;
  --color-success-border: #39812c;
  --color-success-border-hover: #316e26;
  --color-success-border-active: #285b1f;
  --color-warning-text: #af4a0e;
  --color-warning-text-hover: #80360a;
  --color-warning-text-active: #682c08;
  --color-warning-text-weak: #ffffff;
  --color-warning-text-weak-hover: #fce6d9;
  --color-warning-text-weak-active: #f8c7aa;
  --color-warning-text-strong: #80360a;
  --color-warning-text-strong-hover: #682c08;
  --color-warning-text-strong-active: #502206;
  --color-warning-background: #fce6d9;
  --color-warning-background-hover: #f8c7aa;
  --color-warning-background-active: #f4a87b;
  --color-warning-background-weak: #ffffff;
  --color-warning-background-weak-hover: #fce6d9;
  --color-warning-background-weak-active: #f8c7aa;
  --color-warning-background-strong: #af4a0e;
  --color-warning-background-strong-hover: #97400c;
  --color-warning-background-strong-active: #502206;
  --color-warning-border: #af4a0e;
  --color-warning-border-hover: #97400c;
  --color-warning-border-active: #502206;
  --color-assistive-text: #ffffff;
  --color-assistive-background: #050d15;
  --color-assistive-border: #797979;
  --color-assistive-border-focus: #6664d1;
  --color-branding-coral: #ff6d70;
  --color-branding-stitch: #ffcc00;
  --color-charts-neutral: #363636;
  --color-charts-positive: #39812c;
  --color-charts-negative: #c34648;
}