/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --color_neutral_text: rgb(32, 32, 34);
  --color_neutral_text_weak: rgb(107, 107, 107);
  --color_neutral_text_disabled: rgb(140, 140, 140);
  --color_neutral_text_inverted: rgb(255, 255, 255);
  --color_neutral_background: rgb(255, 255, 255);
  --color_neutral_background_medium: rgb(247, 247, 247);
  --color_neutral_background_strong: rgb(232, 232, 232);
  --color_neutral_background_disabled: rgb(247, 247, 247);
  --color_neutral_border: rgb(107, 107, 107);
  --color_neutral_border_weak: rgb(232, 232, 232);
  --color_neutral_border_hover: rgb(32, 32, 32);
  --color_neutral_border_disabled: rgb(166, 166, 166);
  --color_neutral_border_weak_hover: rgb(107, 107, 107);
  --color_primary_text_hover: rgb(2, 54, 89);
  --color_primary_text_active: rgb(2, 39, 65);
  --color_primary_text: rgb(4, 93, 144);
  --color_primary_text_weak: rgb(200, 200, 200);
  --color_primary_text_weak_hover: rgb(205, 227, 242);
  --color_primary_text_weak_active: rgb(155, 199, 230);
  --color_primary_text_strong: rgb(2, 54, 89);
  --color_primary_text_strong_hover: rgb(1, 39, 65);
  --color_primary_text_strong_active: rgb(1, 24, 40);
  --color_primary_background: rgb(205, 227, 242);
  --color_primary_background_hover: rgb(155, 199, 230);
  --color_primary_background_active: rgb(105, 172, 217);
  --color_primary_background_weak: rgb(255, 255, 255);
  --color_primary_background_weak_hover: rgb(205, 227, 242);
  --color_primary_background_weak_active: rgb(155, 199, 230);
  --color_primary_background_strong: rgb(4, 93, 154);
  --color_primary_background_strong_hover: rgb(3, 70, 115);
  --color_primary_background_strong_active: rgb(2, 46, 77);
  --color_primary_border_hover: rgb(3, 70, 115);
  --color_primary_border_active: rgb(2, 46, 77);
  --color_danger_text: rgb(195, 70, 72);
  --color_danger_text_hover: rgb(181, 59, 61);
  --color_danger_text_active: rgb(162, 52, 54);
  --color_danger_text_weak: rgb(255, 255, 255);
  --color_danger_text_weak_hover: rgb(255, 225, 226);
  --color_danger_text_weak_active: rgb(255, 196, 197);
  --color_danger_text_strong: rgb(168, 51, 53);
  --color_danger_text_strong_hover: rgb(149, 45, 47);
  --color_danger_text_strong_active: rgb(129, 39, 41);
  --color_danger_background: rgb(255, 225, 226);
  --color_danger_background_hover: rgb(255, 196, 197);
  --color_danger_background_active: rgb(255, 167, 169);
  --color_danger_background_weak: rgb(255, 255, 255);
  --color_danger_background_weak_hover: rgb(255, 225, 226);
  --color_danger_background_weak_active: rgb(255, 196, 197);
  --color_danger_background_strong: rgb(195, 70, 72);
  --color_danger_background_strong_hover: rgb(181, 59, 61);
  --color_danger_background_strong_active: rgb(162, 52, 54);
  --color_danger_border: rgb(195, 70, 72);
  --color_danger_border_hover: rgb(181, 59, 61);
  --color_danger_border_active: rgb(162, 52, 54);
  --color_success_text: rgb(57, 129, 44);
  --color_success_text_hover: rgb(49, 110, 38);
  --color_success_text_active: rgb(40, 91, 31);
  --color_success_text_weak: rgb(255, 255, 255);
  --color_success_text_weak_hover: rgb(221, 242, 217);
  --color_success_text_weak_active: rgb(204, 235, 198);
  --color_success_text_strong: rgb(49, 110, 38);
  --color_success_text_strong_hover: rgb(41, 91, 31);
  --color_success_text_strong_active: rgb(32, 72, 25);
  --color_success_background: rgb(221, 242, 217);
  --color_success_background_hover: rgb(204, 235, 198);
  --color_success_background_active: rgb(187, 229, 179);
  --color_success_background_weak: rgb(255, 255, 255);
  --color_success_background_weak_hover: rgb(221, 242, 217);
  --color_success_background_weak_active: rgb(204, 235, 198);
  --color_success_background_strong: rgb(57, 129, 44);
  --color_success_background_strong_hover: rgb(49, 110, 38);
  --color_success_background_strong_active: rgb(40, 91, 31);
  --color_success_border: rgb(57, 129, 44);
  --color_success_border_hover: rgb(49, 110, 38);
  --color_success_border_active: rgb(40, 91, 31);
  --color_warning_text: rgb(175, 74, 14);
  --color_warning_text_hover: rgb(128, 54, 10);
  --color_warning_text_active: rgb(104, 44, 8);
  --color_warning_text_weak: rgb(255, 255, 255);
  --color_warning_text_weak_hover: rgb(252, 230, 217);
  --color_warning_text_weak_active: rgb(248, 199, 170);
  --color_warning_text_strong: rgb(128, 54, 10);
  --color_warning_text_strong_hover: rgb(104, 44, 8);
  --color_warning_text_strong_active: rgb(80, 34, 6);
  --color_warning_background: rgb(252, 230, 217);
  --color_warning_background_hover: rgb(248, 199, 170);
  --color_warning_background_active: rgb(244, 168, 123);
  --color_warning_background_weak: rgb(255, 255, 255);
  --color_warning_background_weak_hover: rgb(252, 230, 217);
  --color_warning_background_weak_active: rgb(248, 199, 170);
  --color_warning_background_strong: rgb(175, 74, 14);
  --color_warning_background_strong_hover: rgb(151, 64, 12);
  --color_warning_background_strong_active: rgb(80, 34, 6);
  --color_warning_border: rgb(175, 74, 14);
  --color_warning_border_hover: rgb(151, 64, 12);
  --color_warning_border_active: rgb(80, 34, 6);
  --color_assistive_text: rgb(255, 255, 255);
  --color_assistive_background: rgb(5, 13, 21);
  --color_assistive_border: rgb(121, 121, 121);
  --color_assistive_border_focus: rgb(102, 100, 209);
  --color_branding_coral: rgb(255, 109, 112);
  --color_branding_stitch: rgb(255, 204, 0);
  --color_charts_neutral: rgb(54, 54, 54);
  --color_charts_positive: rgb(57, 129, 44);
  --color_charts_negative: rgb(195, 70, 72);
}