/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --color-neutral-text: #202000;
  --color-neutral-text-weak: #6b6b00;
  --color-neutral-text-disabled: #8c8c00;
  --color-neutral-text-inverted: #ffff00;
  --color-neutral-background: #ffff00;
  --color-neutral-background-medium: #f7f700;
  --color-neutral-background-strong: #e8e800;
  --color-neutral-background-disabled: #f7f700;
  --color-neutral-border: #6b6b00;
  --color-neutral-border-weak: #e8e800;
  --color-neutral-border-hover: #202000;
  --color-neutral-border-disabled: #a6a600;
  --color-neutral-border-weak-hover: #6b6b00;
  --color-primary-text-hover: #023600;
  --color-primary-text-active: #022700;
  --color-primary-text: #045d00;
  --color-primary-text-weak: #c8c800;
  --color-primary-text-weak-hover: #cde300;
  --color-primary-text-weak-active: #9bc700;
  --color-primary-text-strong: #023600;
  --color-primary-text-strong-hover: #012700;
  --color-primary-text-strong-active: #011800;
  --color-primary-background: #cde300;
  --color-primary-background-hover: #9bc700;
  --color-primary-background-active: #69ac00;
  --color-primary-background-weak: #ffff00;
  --color-primary-background-weak-hover: #cde300;
  --color-primary-background-weak-active: #9bc700;
  --color-primary-background-strong: #045d00;
  --color-primary-background-strong-hover: #034600;
  --color-primary-background-strong-active: #022e00;
  --color-primary-border-hover: #034600;
  --color-primary-border-active: #022e00;
  --color-danger-text: #c34600;
  --color-danger-text-hover: #b53b00;
  --color-danger-text-active: #a23400;
  --color-danger-text-weak: #ffff00;
  --color-danger-text-weak-hover: #ffe100;
  --color-danger-text-weak-active: #ffc400;
  --color-danger-text-strong: #a83300;
  --color-danger-text-strong-hover: #952d00;
  --color-danger-text-strong-active: #812700;
  --color-danger-background: #ffe100;
  --color-danger-background-hover: #ffc400;
  --color-danger-background-active: #ffa700;
  --color-danger-background-weak: #ffff00;
  --color-danger-background-weak-hover: #ffe100;
  --color-danger-background-weak-active: #ffc400;
  --color-danger-background-strong: #c34600;
  --color-danger-background-strong-hover: #b53b00;
  --color-danger-background-strong-active: #a23400;
  --color-danger-border: #c34600;
  --color-danger-border-hover: #b53b00;
  --color-danger-border-active: #a23400;
  --color-success-text: #39812c;
  --color-success-text-hover: #316e26;
  --color-success-text-active: #285b1f;
  --color-success-text-weak: #ffffff;
  --color-success-text-weak-hover: #ddf2d9;
  --color-success-text-weak-active: #ccebc6;
  --color-success-text-strong: #316e26;
  --color-success-text-strong-hover: #295b1f;
  --color-success-text-strong-active: #204819;
  --color-success-background: #ddf2d9;
  --color-success-background-hover: #ccebc6;
  --color-success-background-active: #bbe5b3;
  --color-success-background-weak: #ffffff;
  --color-success-background-weak-hover: #ddf2d9;
  --color-success-background-weak-active: #ccebc6;
  --color-success-background-strong: #39812c;
  --color-success-background-strong-hover: #316e26;
  --color-success-background-strong-active: #285b1f;
  --color-success-border: #39812c;
  --color-success-border-hover: #316e26;
  --color-success-border-active: #285b1f;
  --color-warning-text: #af4a0e;
  --color-warning-text-hover: #80360a;
  --color-warning-text-active: #682c08;
  --color-warning-text-weak: #ffffff;
  --color-warning-text-weak-hover: #fce6d9;
  --color-warning-text-weak-active: #f8c7aa;
  --color-warning-text-strong: #80360a;
  --color-warning-text-strong-hover: #682c08;
  --color-warning-text-strong-active: #502206;
  --color-warning-background: #fce6d9;
  --color-warning-background-hover: #f8c7aa;
  --color-warning-background-active: #f4a87b;
  --color-warning-background-weak: #ffffff;
  --color-warning-background-weak-hover: #fce6d9;
  --color-warning-background-weak-active: #f8c7aa;
  --color-warning-background-strong: #af4a0e;
  --color-warning-background-strong-hover: #97400c;
  --color-warning-background-strong-active: #502206;
  --color-warning-border: #af4a0e;
  --color-warning-border-hover: #97400c;
  --color-warning-border-active: #502206;
  --color-assistive-text: #ffffff;
  --color-assistive-background: #050d15;
  --color-assistive-border: #797979;
  --color-assistive-border-focus: #6664d1;
  --color-branding-coral: #ff6d70;
  --color-branding-stitch: #ffcc00;
  --color-charts-neutral: #363636;
  --color-charts-positive: #39812c;
  --color-charts-negative: #c34648;
}